@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --accent-blue: #e87930;
  --font-poppins: "Poppins", sans-serif;
  --bg-color: #0a0909;
  --secondary-bg-color: #211b1d;
  --card-bg-color: #2a2224;
  --text-color: #c8bdb3;
  --highlight-text-color: #e4d7c8;
  --main-heading-textBg: #e7d8c5;
  --logo-color: #d97832;
  --accent-color: #e3ccb7;
  --blood-red: #7a252b;
  --dark-red: #4a171c;
  --ghost-purple: #65506f;
  --dead-green: #596044;
  --border-color: #403437;
  --btn-bg-color: #6b3028;
  --btn-hover-color: #8a3d2e;
  --dark-brown: #0e0b0d;
  --light-brown: #594a45;

  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  html {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
  }
}
